.SongPlaying{
    height: 70px;
/*     
    background: linear-gradient(transparent, rgba(1, 1, 1, 1));
    background-color: rgb(91, 87, 115); */
    
    /* background-image: url("https://i.ytimg.com/vi/8-eM3jecbDU/hq720.jpg?sqp=-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBtcfnM0mXv6itx63XZPfAEoqgedQ"); */
}

.song-playing{
    /* height:100%; */
    width: 100%;
}

.songPlay-aa{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */

}
.songPlay-img{
    height:100%;
    margin: 7%;
    /* width: 30%; */
    /* float: left; */
    border-radius: 10px;
}

.playar-img{
    height:30%;
    margin-left: 5%;
    /* width:10px; */
    /* width: 30%; */
    float: left;
    border-radius: 10px;
}