.header{

    height: 110px;
/* background-color: black; */
background: linear-gradient(transparent, rgba(1, 1, 1, 1));
background-color: rgb(80, 77, 93);

    display: flex;
    justify-content: left;
    align-items: center;
   
}
#img{
    height: 100px;
  
    
}
#inputSong{

    width: 250px;
    height: 30px;
    margin: 20px;
    border-radius: 20px;
    border: solid 1px rgb(144, 141, 154);
    background-color: rgb(80, 77, 93);
    color: azure;
    outline: none;
}

.ee{
    position: relative;
}
#searchSong{
    position: absolute;
    top: 30%;
    right: 7%;
    border-radius: 20px;
    height: 30px;
    /* border: solid 2px rgb(144, 141, 154); */
    background-color: rgb(80, 77, 93);
    color:azure;
}

#hello{
    color:white

}